 
/* ===================================================================
Import Bootstrap LESS and Site Specific LESS
=================================================================== */
 
@import '../bower_components/bootstrap/less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import '../less/variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import '../less/bootstrap-slider.less';

html {
    -webkit-font-smoothing: antialiased !important;
}

footer {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    padding:25px 0;
}

.slider.slider-horizontal {
    // margin-top:19px;
}

.slider-selection {
    background: #BABABA;
}

.slider-track {
    background-image: linear-gradient(to bottom, #E2E2E2 0%, #DDDDDD 100%);
}


textarea {
    width:100% !important;
}

.navbar-default {
    background:white;
    box-shadow: 2px -6px 20px rgba(0, 0, 0, 0.85);
}

.navbar-left {
    float:none !important;
    text-align: center;
}

.individual {
    border:0;
}

.active-individual {
    background: #67A5D6;
    opacity: 1;
}

.current-utterance {
    height:150px !important;
    font-size: 1.2em;
}

.utterance {
    border:0;
    background:transparent;
}

.radio {
    visibility:hidden;
    display:none !important;
}

.time {
    // font-size:3em;
}

.list-group-item {
    background:#fff;
    border:0;
    padding:15px 20px;
}

.remove-utterance {
    opacity:0;
}

.participant-heading,.utterance-time {
    display:inline !important;
    cursor:pointer;
}